<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tpblog.oam.service.mapper.BlackListMapper">

    <select id="findBlackListAll" resultType="com.tpblog.oam.api.entity.BlackList">
        SELECT * FROM blacklist
    </select>
</mapper>