<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpblog.basic.service.mapper.UserMapper">


    <select id="findUsernameByUid" resultType="java.lang.String">
        SELECT username FROM user WHERE id=#{uid}
    </select>
</mapper>